.summary{
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    top: 17%;
    background-color: #1f1f1f;
    padding: 1rem 1.2rem;
    color: white;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px solid black;
    max-width: 50rem;
}

.summary h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.summary p {
    font-size: 1rem;
    margin: .5rem;
}