.button {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 13rem;
    background-color: #1f1f1f;
    border-radius: 40px;
    padding: 1rem 1.3rem;
    color: white;
    outline: transparent;
    font-size: 1rem;
    border: none;
}

.button:hover,
.button:active {
    background-color: rgb(37, 35, 35);
    transform: translateY(-2px);
}

.icon{
    height: 1.2rem;
    width: 1.2rem;
}

.total{

}